.nav {}

.nav_wrapper {
	width: 151px;
	height: 104px;
}

.nav_ul {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	row-gap: 15px;
	padding-left: 0;
	margin: 0;
}

.nav_li {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;

	list-style-type: none;
}

.nav_link {
	text-decoration: none;
	color: #707C87;

}