.logo {
	/* width: 252px; */
	height: 84px;
}

.logo_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.logo_logoShere {
	padding-left: 3px;
}

.logo_dicription {
	margin-top: 18px;
}

.logo_text {
	margin: 0;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #707C87;
}