.footer {
	flex: 0 0 auto;
	margin: auto;
	width: 1366px;
	height: 224px;
	background: #F6F7FF;
}

.footer_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	/* column-gap: 122px; */
	padding: 53px 98px;
}