.item {
	width: 1366px;
	height: 557px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	background: #F6F7FF;
}

.item_wrapper {
	/* width: 962px; */
	/* height: 430px; */
	/* height: 397px; */
	border-radius: 4px;
	background: #FFFFFF;
	/* padding: 48px 53px 68px 55px; */
	display: flex;
	justify-content: flex-start;
	background: #FFFFFF;
}

.item_description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.item_main_text {
	margin: 0;
	padding: 0;
	padding-left: 48px;
	padding-top: 53px;
	font-family: "Roboto", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
	letter-spacing: 0em;
	text-align: left;
	color: #1F1E25;
}

.item_main_wrapper {
	padding: 70px 68px 55px 65px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 48px;
}

.item_text {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;

	width: 216px;
	height: 16px;
}


.item_curData_wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


.item_selin {
	margin-top: 30px;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: flex-start;
	gap: 15px;
}

.item_input {
	margin: 0;
	padding: 0;
	width: 218px;
	height: 60px;
	border-radius: 4px;
	border: 1px solid #C1C2CA;

	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: center;
	color: #707C87;
}

.item_select {
	width: 120px;
	height: 60px;
	padding: 16px;
	text-align: center;

	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #707C87;
}


.item_select {
	width: 120px;
	height: 60px;
	border-radius: 4px;
	border: 1px solid black;
	border-color: #C1C2CA;

	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #707C87;

	appearance: none;
	/* -убираем стандартную стрелку overflow: hidden; */
	background: url("../../../assets/images/arrowDn.svg") no-repeat right;
	/* -вставляем нужную */
	background-position: 85px 50%;
	/* отстраиваем стрелу  85px 50%;*/
}

.item_date {
	background-color: transparent;
	margin-top: 24px;
	width: 182px;
	height: 25px;
	border-radius: 4px;
	border: 1px solid #C1C2CA;

	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #707C87;
	padding: 18px 18px 18px 18px;

}


input::-webkit-calendar-picker-indicator {
	opacity: 0;
}

@supports not (-moz-appearance:none) {
	.item_date {
		background: url("../../../assets/images/calendar.svg") no-repeat right;
		background-size: 85px 50%;
	}

	@-moz-document url-prefix() {
		.item_date {
			background-color: #fff;
		}
	}
}

.item_img {
	padding-top: 65px;
	width: 22px;
	height: 22px;
}

.item_date {}

.item_button {
	margin-top: 24px;
	margin-left: 135px;
	width: 220px;
	height: 60px;
	border-radius: 4px;
	background: #2C36F2;

	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: center;
	color: #F6F7FF;
}